@import 'variables';
@import 'Button';

.DayPicker {
  background: $react-dates-color-white;
  position: relative;
}

.DayPicker--horizontal {
  background: $react-dates-color-white;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);

  &.DayPicker--portal {
    box-shadow: none;
    position: absolute;
    left: 50%;
    top: 50%;
  }
}

.DayPicker.orange {
  .ActionPane {
    & .quick-action {
      &.active {
        border-left: 3px solid $react-dates-color-primary-orange;
        color: $react-dates-color-primary-orange;
      }
    }

    & .action-pane-button {
      background-color: $react-dates-color-primary-orange;
    }
  }
}

.DayPicker.grey {
  .ActionPane {
    & .quick-action {
      &.active {
        border-left: 3px solid $react-dates-color-primary-grey;
        color: $react-dates-color-primary-grey;
      }
    }

    & .action-pane-button {
      background-color: $react-dates-color-primary-grey;
    }
  }
}

.DayPicker--vertical.DayPicker--portal {
  position: initial;
}

.DayPicker__week-headers {
  position: relative;
}

.DayPicker--horizontal .DayPicker__week-headers {
  margin-left: 9px;
}

.DayPicker__week-header {
  color: $react-dates-color-placeholder-text;
  position: absolute;
  width: $react-dates-width-day-picker;
  top: 62px;
  z-index: 2;
  padding: 0 13px;
  text-align: left;

  ul {
    list-style: none;
    margin: 1px 0;
    padding-left: 0;
  }

  li {
    display: inline-block;
    width: 39px;
    text-align: center;
  }
}

.DayPicker--vertical .DayPicker__week-header {
  margin-left: -1 * $react-dates-width-day-picker / 2;
  left: 50%;
}

.transition-container {
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  float: left;
}

.transition-container--horizontal {
  transition: height 0.2s ease-in-out;
}

.transition-container--vertical {
  width: 100%;
}

.PickerModalWrapper {}

.ActionPane {
  display: inline-block;
  float: right;
  width: $react-dates-action-pane;
  border-left: 1px solid #ECECEC;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;

  & .quick-action {
    width: 100%;
    cursor: pointer;
    margin-bottom: 15px;
    color: $react-dates-color-gray;

    &.active {
      cursor: default;
      border-left: 3px solid $react-dates-color-primary;
      color: $react-dates-color-primary;

      & .pane-quick-button {
        margin-left: 17px;
      }
    }
  }

  & .pane-quick-button {
    height: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: 20px;
  }

  & .pane-button-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 20px;
  }

  & .action-pane-button {
    background-color: $react-dates-color-primary;
    color: $react-dates-color-white;
    border-radius: 4px;
    padding: 10px 25px;
    cursor: pointer;
  }
}
