@import 'variables';

.SingleDatePickerInput {
  box-shadow: $input-box-shadow;
  border-radius: $react-dates-border-radius;
  background-color: $react-dates-color-white;
}

.SingleDatePickerInput__clear-date {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  margin: 0 10px 0 5px;
}

.SingleDatePickerInput__clear-date svg {
  fill: $react-dates-color-gray-light;
  height: 12px;
  width: 15px;
  vertical-align: middle;
}

.SingleDatePickerInput__clear-date--hide {
  visibility: hidden;
}

.SingleDatePickerInput__clear-date--hover,
.SingleDatePickerInput__clear-date:focus {
  background: $react-dates-color-border;
  border-radius: 50%;
}
