$react-dates-width-input: 130px !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-width-day-picker: 300px !default;
$react-dates-action-pane: 120px !default;
$react-dates-spacing-vertical-picker: 52px !default;
$react-dates-color-primary: #2AB68E !default;
$react-dates-color-primary-dark: #189B75 !default;
$react-dates-color-primary-shade-1: #AED2C8 !default;
$react-dates-color-primary-shade-2: #C1E6DB !default;
$react-dates-color-primary-shade-3: #73EECA !default;
$react-dates-color-primary-shade-4: #84F2D2 !default;
$react-dates-color-secondary: #057D5A !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default; // #82888a
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default; // #cacccd
$react-dates-color-highlighted: #ffe8bc !default;
$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: #fff !default;
$react-dates-color-focus: #55E2B9 !default;
$react-dates-border-radius: 4px;
/* button */
$btn-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
$btn-shadow-hover: 0 2px 3px 1px rgba(0, 0, 0, 0.15);
$btn-shadow-pressed: 0 1px 0 0 rgba(0, 0, 0, 0.15);
/* fonts */
$base-text-size-M: 12px;
$base-text-size-L: 14px;
/* input */
$input-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
/* modal */
$modal-box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
