$react-dates-width-input: 130px !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-width-day-picker: 300px !default;
$react-dates-spacing-vertical-picker: 72px !default;
$react-dates-color-primary: #2AB68E !default;
$react-dates-color-primary-dark: #189B75 !default;
$react-dates-color-primary-shade-1: #4ACEA8 !default;
$react-dates-color-primary-shade-2: #55E2B9 !default;
$react-dates-color-primary-shade-3: #73EECA !default;
$react-dates-color-primary-shade-4: #84F2D2 !default;
$react-dates-color-secondary: #057D5A !default;
$react-dates-color-white: #fff !default;
$react-dates-color-gray: #565a5c !default;
$react-dates-color-gray-dark: darken($react-dates-color-gray, 10.5%) !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 17.8%) !default; // #82888a
$react-dates-color-gray-lighter: lighten($react-dates-color-gray, 45%) !default; // #cacccd
$react-dates-color-highlighted: #ffe8bc !default;
$react-dates-color-border: #dbdbdb !default;
$react-dates-color-border-light: #dce0e0 !default;
$react-dates-color-border-medium: #c4c4c4 !default;
$react-dates-color-placeholder-text: #757575 !default;
$react-dates-color-text: #484848 !default;
$react-dates-color-text-focus: #fff !default;
$react-dates-color-focus: #55E2B9 !default;
